In [1]:
import zipfile
import pandas as pd
import numpy as np
from newspaper import Article
from tqdm import tqdm

In [2]:
zf = zipfile.ZipFile(r'...\Times articles data\data\nyt-comments.zip') 
df_2018a = pd.read_csv(zf.open('ArticlesApril2018.csv'))
df_2018m = pd.read_csv(zf.open('ArticlesMarch2018.csv'))
df_2018f = pd.read_csv(zf.open('ArticlesFeb2018.csv'))
df_2018j = pd.read_csv(zf.open('ArticlesJan2018.csv'))

df_2017my = pd.read_csv(zf.open('ArticlesMay2017.csv'))
df_2017a = pd.read_csv(zf.open('ArticlesApril2017.csv'))
df_2017m = pd.read_csv(zf.open('ArticlesMarch2017.csv'))
df_2017f = pd.read_csv(zf.open('ArticlesFeb2017.csv'))
df_2017j = pd.read_csv(zf.open('ArticlesJan2017.csv'))

In [3]:
df_2018 = pd.concat((pd.concat((df_2018a, df_2018m)), pd.concat((df_2018f, df_2018j))))

In [4]:
df_2017 = pd.concat((pd.concat((pd.concat((df_2017my, df_2017a)), df_2017m)), pd.concat((df_2017f, df_2017j))))

In [5]:
df = pd.concat((df_2018, df_2017))

In [6]:
df.to_csv(r'lda_data\all_articles.csv', index=False)

In [7]:
df.head()

,abstract,articleID,articleWordCount,byline,documentType,headline,keywords,multimedia,newDesk,printPage,pubDate,sectionName,snippet,source,typeOfMaterial,webURL
0,NaN,5adf6684068401528a2aa69b,781,By JOHN BRANCH,article,Former N.F.L. Cheerleaders’ Settlement Offer: ...,"['Workplace Hazards and Violations', 'Football...",68,Sports,0,2018-04-24 17:16:49,Pro Football,"“I understand that they could meet with us, pa...",The New York Times,News,https://www.nytimes.com/2018/04/24/sports/foot...
1,NaN,5adf653f068401528a2aa697,656,By LISA FRIEDMAN,article,E.P.A. to Unveil a New Rule. Its Effect: Less ...,"['Environmental Protection Agency', 'Pruitt, S...",68,Climate,0,2018-04-24 17:11:21,Unknown,The agency plans to publish a new regulation T...,The New York Times,News,https://www.nytimes.com/2018/04/24/climate/epa...
2,NaN,5adf4626068401528a2aa628,2427,By PETE WELLS,article,"The New Noma, Explained","['Restaurants', 'Noma (Copenhagen, Restaurant)...",66,Dining,0,2018-04-24 14:58:44,Unknown,What’s it like to eat at the second incarnatio...,The New York Times,News,https://www.nytimes.com/2018/04/24/dining/noma...
3,NaN,5adf40d2068401528a2aa619,626,By JULIE HIRSCHFELD DAVIS and PETER BAKER,article,Unknown,"['Macron, Emmanuel (1977- )', 'Trump, Donald J...",68,Washington,0,2018-04-24 14:35:57,Europe,President Trump welcomed President Emmanuel Ma...,The New York Times,News,https://www.nytimes.com/2018/04/24/world/europ...
4,NaN,5adf3d64068401528a2aa60f,815,By IAN AUSTEN and DAN BILEFSKY,article,Unknown,"['Toronto, Ontario, Attack (April, 2018)', 'Mu...",68,Foreign,0,2018-04-24 14:21:21,Canada,"Alek Minassian, 25, a resident of Toronto’s Ri...",The New York Times,News,https://www.nytimes.com/2018/04/24/world/canad...

In [8]:
articleIDs = df.articleID.tolist()

In [9]:
urls = df.webURL.tolist()

In [10]:
def scrap_text(urls, articleIDs):
    texts = []
    keywords = []
    IDs = []
    for i in tqdm(range(len(urls))):
        try:
            url = urls[i]
            art_id = articleIDs[i]
            article = Article(url)
            article.download()
            article.parse()
            text = article.text
            article.nlp()
            keyword = article.keywords
            texts.append(text)
            keywords.append(keyword)
            IDs.append(art_id)
        except:
            pass
    return IDs, texts, keywords

In [11]:
downloaded_ids, downloaded_texts, downloaded_keywords = scrap_text(urls, articleIDs)

 17%|█████████████                                                               | 1603/9335 [28:36<2:18:00,  1.07s/it]

You must `download()` an article first!

 50%|█████████████████████████████████████                                     | 4672/9335 [1:24:42<1:24:32,  1.09s/it]

Article `download()` failed with 503 Server Error: Service Unavailable for url: https://www.nytimes.com/2018/01/09/opinion/coffee-cafes-vietnam-war.html on URL https://www.nytimes.com/2018/01/09/opinion/coffee-cafes-vietnam-war.html

 62%|██████████████████████████████████████████████▏                           | 5833/9335 [1:46:29<1:03:55,  1.10s/it]

Article `download()` failed with 503 Server Error: Service Unavailable for url: https://www.nytimes.com/2017/04/04/opinion/when-martin-luther-king-came-out-against-vietnam.html on URL https://www.nytimes.com/2017/04/04/opinion/when-martin-luther-king-came-out-against-vietnam.html

 63%|██████████████████████████████████████████████▎                           | 5840/9335 [1:46:37<1:03:48,  1.10s/it]

Article `download()` failed with 503 Server Error: Service Unavailable for url: https://www.nytimes.com/2017/04/04/learning/subjects-off-limit-artists-dana-schutz-henry-taylor.html on URL https://www.nytimes.com/2017/04/04/learning/subjects-off-limit-artists-dana-schutz-henry-taylor.html

 63%|██████████████████████████████████████████████▌                           | 5874/9335 [1:47:15<1:03:11,  1.10s/it]

Article `download()` failed with 503 Server Error: Service Unavailable for url: https://www.nytimes.com/2017/04/05/magazine/france-election-gilles-kepel-islam.html on URL https://www.nytimes.com/2017/04/05/magazine/france-election-gilles-kepel-islam.html

 84%|████████████████████████████████████████████████████████████████▏           | 7878/9335 [2:24:36<26:44,  1.10s/it]

You must `download()` an article first!

100%|████████████████████████████████████████████████████████████████████████████| 9335/9335 [2:51:11<00:00,  1.10s/it]

In [12]:
data = pd.DataFrame({'articleID': downloaded_ids, 'text': downloaded_texts, 'keywords': downloaded_keywords})

In [13]:
data.head()

,articleID,keywords,text
0,5adf6684068401528a2aa69b,"[offer, statement, cheerleading, support, nfl,...",The N.F.L. has responded with a written statem...
1,5adf653f068401528a2aa697,"[likely, epa, studies, effect, policymaking, a...",WASHINGTON — The Environmental Protection Agen...
2,5adf4626068401528a2aa628,"[probably, frequently, mr, asked, dining, ques...","If I get a reservation, will eating at Noma ma..."
3,5adf40d2068401528a2aa619,"[iran, nuclear, constrain, mr, korea, trump, a...",WASHINGTON — President Trump signaled on Tuesd...
4,5adf3d64068401528a2aa60f,"[counts, women, murder, tuesdaythe, expressed,...",TORONTO — The man identified as the van driver...

In [15]:
data.shape

(9329, 3)

In [17]:
data.to_csv(r'lda_data\downloaded_articles.csv', index=False)